<h4>A kalkulált kedvezményes csomag:</h4>

<table class="kalkulator">
	<tbody>
		<thead>
			<tr>
			<th>Szolgáltatás</th>
			<th>Egységár</th>
			<th>db</th>
			<th>össz</th>
			</tr>
		</thead>
		
	<tr>	
		<td>Tekercselős infraszauna</td>
		<td>4000 Ft</td>
		<td>8</td>
		<td>32000 Ft</td>
	</tr>		
		
	<tr>	
		<td>Cellulit masszázs 40perc</td>
		<td>3500 Ft</td>
		<td>8</td>
		<td>28000 Ft</td>
	</tr>

	<tr>
		<td>Fogyi termékek kis csomag</td>
		<td>8200 Ft</td>
		<td>1</td>
		<td>8200 Ft</td>
	</tr>
	
	<tr>
		<td>Alakformáló torna</td>
		<td>1000 Ft</td>
		<td>10</td>
		<td>10000 Ft</td>
	</tr>
	
	<tr>
		<td>Csomag ára</td>
		<td></td>
		<td></td>
		<td>78200 Ft</td>
	</tr>

	<tr>
		<td>Kedvezményes ár</td>
		<td></td>
		<td></td>
		<td><span class="label label-danger">66470 Ft</span></td>
	</tr>

	<tr>
		<td>Megtakarítás</td>
		<td></td>
		<td></td>
		<td><span class="label label-info">11730 Ft</span></td>
	</tr>	

	</tbody>
</table>
