<h4>A kalkulált kedvezményes csomag:</h4>

<table class="kalkulator">
	<tbody>
		<thead>
			<tr>
			<th>Szolgáltatás</th>
			<th>Egységár</th>
			<th>db</th>
			<th>össz</th>
			</tr>
		</thead>
	<tr>	
		<td>Fogyasztó masszázs 60 perc</td>
		<td>5000 Ft</td>
		<td>8</td>
		<td>40000 Ft</td>
	</tr>

	<tr>
		<td>Fogyi termékek nagy csomag</td>
		<td>18200 Ft</td>
		<td>1</td>
		<td>18200 Ft</td>
	</tr>
	
	<tr>
		<td>Power Plate edzés</td>
		<td>2100 Ft</td>
		<td>8</td>
		<td>16800 Ft</td>
	</tr>
	
	<tr>
		<td>Csomag ára</td>
		<td></td>
		<td></td>
		<td>75000 Ft</td>
	</tr>

	<tr>
		<td>Kedvezményes ár</td>
		<td></td>
		<td></td>
		<td><span class="label label-danger">63750 Ft</span></td>
	</tr>

	<tr>
		<td>Megtakarítás</td>
		<td></td>
		<td></td>
		<td><span class="label label-info">11250 Ft</span></td>
	</tr>	

	</tbody>
</table>
